.container{
    display: grid;
    grid-template-columns: repeat(12,110px);
    grid-template-rows: auto;
    gap: 12px;
    justify-content: center;
    padding: 25px;
}
.box{
    background-color: whitesmoke;
    text-align: left;
    padding: 15px;
    align-content: center;
    height: 80px;
    color: blue;
}
.box1 , .box6{
    grid-column: span 9;
}
.box2 , .box7 , .box9 , .box10{
    grid-column: span 3;
}
.box3 , .box11{
    grid-column: span 12;
}
.box4 , .box5 , .box8{
    grid-column: span 6;
}
.box1{
    color: white;
    background-color: black;
}
.box3{
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
}
b{
    font-size: 22px;
}


@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    flex-direction: column;
  }
}
